h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding: 0px 15px;
  outline: 3px solid teal;
}
/* Стили для index.html */

/* Header */
.site-contacts {
}
.site-navigation {
  display: flex;
  justify-content: flex-start;
}
.nav-container {
  display: flex;
  justify-content: center;
}
.auth-nav {
  display: flex;
}
.logo-container .nav-container {
  display: flex;
  align-items: center;
  ma
}

.logo-container {
  justify-content: flex-end;
  display: flex;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.auth-nav .link {
    display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* logo */
.logo-container > .logo {
  align-items: center;
}
.logo-container p {
  margin: 0;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-part {
  color: var(--accent-color);
}
/*Site-nav*/
.site-nav {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav.link:hover,
.site-nav.link:focus {
  color: var(--accent-color);
}
.site-nav.link.current {
  color: var(--accent-color);
}
/* Hero */
.hero-container {
}
.hero {
  margin-bottom: 94px;
  background-color: var(--second-bg-color);
  align-items: center;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Button */
.primary-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  outline: transparent;
  cursor: pointer;
}

/* Sections */
.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.holder-container {
}
.team {
}
.section-holder {
  padding: 94px 0px;
  background-color: var(--section-bg-color);
}
.section {
  margin-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Features */
.image {
  display: block;
}
.features-container {
  margin-bottom: 94px;
}
.features-list p {
  margin: 0;
}
.features-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-box p {
  margin: 0;
}
.features-box li {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-text-color);
  width: 270px;
  text-align: center;
}
.features-box .image {
  margin-bottom: 30px;
}
.team p {
  margin-bottom: 30px;
}
.features-box .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  background-color: var(--second-bg-color);
}
.footer .item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.logo-sub {
  justify-content: flex-start;
  color: var(--second-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-container p {
  margin: 0;
}
.address-text {
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*Стили для portfolio.html */
.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.main-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.item-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.picture {
  display: block;
  margin-bottom: 20px;
}
.item .description {
  margin-bottom: 20px;
}
.main-items p {
  margin: 0px;
}
.main-items > .item {
  background-color: var(--primary-bg-color);
  border: 1px solid #eeeeee;
  width: 370px;
}
.main-items .link {
  color: var(--primary-text-color);
}
/* Button */
.filter-list > .button:hover,
.filter-list > .button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.filter-list > .button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  outline: transparent;
}
.filter {
  margin-bottom: 50px;
}
